*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    
}
li * {
    vertical-align: bottom;
    padding: 0px 10px;
}

.all{
    height: 100vh;
}
.ancla{
    text-decoration: none;
    color: white;
}
.navegacion{
    width: 100%;
    height: 60px;
    background: #4CAF50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    position: fixed;
    z-index: 2;
}
.logo{
    width: 123px;
    height: auto;
    margin-left: 32px;
}
.telInfo{
    margin-right: 40.5px;
    font-family: montserrat,sans-serif;
    font-weight: 400;
    font-style: normal;
}
.infoContact{
    display: flex;
    color: #fff;
    align-items: center;
    
    margin-right: 40.5px;
}
.btnContact{
    width: 200px;
    height: 40px;
    border: 2px solid #fff;
    text-align: center;
    color: #fff;
    font-family: montserrat,sans-serif;
    font-weight: 400;
    font-style: bold;
}
.btnContact:hover{
    background: #fff;
}
.btnColor{
    width: 100%;
    height: 36px;
    
    background: #4CAF50;
    color: #fff;
}

.btnColor:hover{
    background: #fff;
    color: #4CAF50;
}
.contenido{
    display: flex;
    height: 100%;
}

.sidebar{
    margin-top: 60px;
    min-width: 257px;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.26);
    height: 100vh;
    background: #fff;
    position: fixed;
    z-index: 1;
}
li:hover{
    background: #4CAF50;
    color: #fff;
}
.optionli{
    width: 100%;
    height: 74px;
    padding: 27px 17px;
}
.llenado{
    width: 100%;
    height: 100%;
    background: #EAEAEA;
    margin-top: 60px;
}
.title{
    width: 100%;
    height: 116px;
    background: #fff;
    margin: 0;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.26);
}
.titulo{
    padding: 30px 0px 0px 16px;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: bold;
    margin-left: 257px;
}
h2{
    font-family: Montserrat;
    font-size: 28px;
    font-weight: bold;
}


/*Formulario*/
.contenidoFormulario{
    margin-left: 257px;
    height: 80%;
}
.main{
    background: #F9F9F9;
    position: relative;
    height: auto;
    margin: 27px;
}
.divContainer{
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    width: 100%;
    height: auto;
    box-shadow: 5px 6px 15px 0 rgba(0,0,0,0.14);
}
.info{
    width: 40%;
    margin: 5% 0% 0% 5%;
    display: block;
}
.titleForm{
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    text-align: left;
    letter-spacing: -0.29px;
    font-weight: bold;
    padding-bottom: 15px;
}
.parrInfo{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
}
.divFormulario{
    width: 60%;
    height: auto;
    padding-right: 8%;
    box-sizing: border-box;
}
form{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 8%;
    height: 100%;
}
.form-grupo{
    width: 100%;
    height: auto;
}
label{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 12px;
    text-align: left;
    color: #263238;
    font-weight: bold;
    position: relative;
    top: 18px;
    left: 15px;
    background: #fff;
    padding: 5px;
}
input{
    border: 1px solid #263238;
    width: 100%;
    height: 62px;
}
textarea{
    resize: none;
    border: 1px solid black;
    width: 100%;
    height: 118px;
}
.btn-aling{
    align-self: flex-end;
    box-sizing: border-box;
    margin: 18px 0px;
}
.btnEnviar{
    position: relative;
    width: 200px;
    height: 40px;
    background: #00C853;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    box-shadow: 3px 6px 13px 0 rgba(0,200,83,0.61)
}